@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>My Agenda</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <img src="~/images/header.jpg" alt="header" />
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to My Agenda</h2>
            <p>
                My Agenda is a sample application that
                demonstrates how to integrate Application, Database
                and Infrastructure in Release Pipeline.
            </p>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <h2>Download it</h2>
            <p>You can download the completed project from GitHub.</p>
            <p>
                <a class="btn btn-default"
                   href="https://github.com/lwajswaj/azure-devops-release-pipeline/">
                    See project source code &raquo;
                </a>
            </p>
        </div>
    </div>
